In [1]:
import pandas as pd

In [16]:
import numpy as np
import matplotlib.pyplot as plt

## Importing files

In [3]:
state_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\Copy of State_Master.csv")

In [5]:
rs_mapping_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\Copy of Region_State_Mapping.csv")

In [6]:
region_master_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\Copy of Region_Master.csv")

In [7]:
postal_code_master_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\Copy of Postal_Code_Master.csv")

In [8]:
city_master_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\Copy of City_Master.csv")

In [12]:
sales_status_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\copy_of_sales_status.csv")

In [17]:
cs_transaction_dataset = pd.read_csv("C:\One Drive\OneDrive - Tredence\Desktop\Copy of car_sales_transactions.csv")

### Viewing our data

In [18]:
cs_transaction_dataset

,Sales_ID,Name,Year,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Transmission,Owner,Mileage,Engine,Max_Power,Seats,Selling_Price
0,1,Maruti Swift Dzire VDI,2014,145500,CT01,ST15,400001,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5,450000
1,2,Skoda Rapid 1.5 TDI Ambition,2014,120000,CT28,ST11,834001,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5,370000
2,3,Honda City 2017-2020 EXi,2006,140000,CT12,ST28,201301,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5,158000
3,4,Hyundai i20 Sportz Diesel,2010,127000,CT21,ST27,248001,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5,225000
4,5,Maruti Swift VXI BSIII,2007,120000,CT03,ST24,600020,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5,130000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,110000,CT22,ST14,452010,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5,320000
7902,8125,Hyundai Verna CRDi SX,2007,119000,CT21,ST27,248001,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5,135000
7903,8126,Maruti Swift Dzire ZDi,2009,120000,CT08,ST29,700005,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5,382000
7904,8127,Tata Indigo CR4,2013,25000,CT29,ST24,632001,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000
7905,8128,Tata Indigo CR4,2013,25000,CT21,ST27,248001,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000

In [25]:
X_cst = cs_transaction_dataset.iloc[:,1:15]

In [37]:
Y_cst = cs_transaction_dataset.iloc[:,14:15]

In [38]:
Y_cst.shape

(7906, 1)

In [40]:
X_cst.shape

(7906, 14)

### Encoding on transmission columns

In [41]:
df1 = cs_transaction_dataset

In [44]:
new_cst = pd.get_dummies(df1["Transmission"])

In [45]:
new_cst

      Automatic  Manual
0             0       1
1             0       1
2             0       1
3             0       1
4             0       1
...         ...     ...
7901          0       1
7902          0       1
7903          0       1
7904          0       1
7905          0       1

[7906 rows x 2 columns]

In [46]:
df1.drop('Transmission',axis='columns')

,Sales_ID,Name,Year,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Owner,Mileage,Engine,Max_Power,Seats,Selling_Price
0,1,Maruti Swift Dzire VDI,2014,145500,CT01,ST15,400001,Diesel,Individual,First Owner,23.4 kmpl,1248 CC,74 bhp,5,450000
1,2,Skoda Rapid 1.5 TDI Ambition,2014,120000,CT28,ST11,834001,Diesel,Individual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5,370000
2,3,Honda City 2017-2020 EXi,2006,140000,CT12,ST28,201301,Petrol,Individual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5,158000
3,4,Hyundai i20 Sportz Diesel,2010,127000,CT21,ST27,248001,Diesel,Individual,First Owner,23.0 kmpl,1396 CC,90 bhp,5,225000
4,5,Maruti Swift VXI BSIII,2007,120000,CT03,ST24,600020,Petrol,Individual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5,130000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,110000,CT22,ST14,452010,Petrol,Individual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5,320000
7902,8125,Hyundai Verna CRDi SX,2007,119000,CT21,ST27,248001,Diesel,Individual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5,135000
7903,8126,Maruti Swift Dzire ZDi,2009,120000,CT08,ST29,700005,Diesel,Individual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5,382000
7904,8127,Tata Indigo CR4,2013,25000,CT29,ST24,632001,Diesel,Individual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000
7905,8128,Tata Indigo CR4,2013,25000,CT21,ST27,248001,Diesel,Individual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000

In [47]:
df1['Automatic'] = new_cst['Automatic'].to_list()
df1['Manual'] = new_cst['Manual'].to_list()

In [50]:
df1.drop('Transmission',axis='columns')

,Sales_ID,Name,Year,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Owner,Mileage,Engine,Max_Power,Seats,Selling_Price,Automatic,Manual
0,1,Maruti Swift Dzire VDI,2014,145500,CT01,ST15,400001,Diesel,Individual,First Owner,23.4 kmpl,1248 CC,74 bhp,5,450000,0,1
1,2,Skoda Rapid 1.5 TDI Ambition,2014,120000,CT28,ST11,834001,Diesel,Individual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5,370000,0,1
2,3,Honda City 2017-2020 EXi,2006,140000,CT12,ST28,201301,Petrol,Individual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5,158000,0,1
3,4,Hyundai i20 Sportz Diesel,2010,127000,CT21,ST27,248001,Diesel,Individual,First Owner,23.0 kmpl,1396 CC,90 bhp,5,225000,0,1
4,5,Maruti Swift VXI BSIII,2007,120000,CT03,ST24,600020,Petrol,Individual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5,130000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,110000,CT22,ST14,452010,Petrol,Individual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5,320000,0,1
7902,8125,Hyundai Verna CRDi SX,2007,119000,CT21,ST27,248001,Diesel,Individual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5,135000,0,1
7903,8126,Maruti Swift Dzire ZDi,2009,120000,CT08,ST29,700005,Diesel,Individual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5,382000,0,1
7904,8127,Tata Indigo CR4,2013,25000,CT29,ST24,632001,Diesel,Individual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000,0,1
7905,8128,Tata Indigo CR4,2013,25000,CT21,ST27,248001,Diesel,Individual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000,0,1

### Encoding Fuel column

In [54]:
new_cst = pd.get_dummies(df1["Fuel"])

In [55]:
new_cst

      CNG  Diesel  LPG  Petrol
0       0       1    0       0
1       0       1    0       0
2       0       0    0       1
3       0       1    0       0
4       0       0    0       1
...   ...     ...  ...     ...
7901    0       0    0       1
7902    0       1    0       0
7903    0       1    0       0
7904    0       1    0       0
7905    0       1    0       0

[7906 rows x 4 columns]

In [56]:
df1['CNG'] = new_cst['CNG'].to_list()
df1['Diesel'] = new_cst['Diesel'].to_list()
df1['LPG'] = new_cst['LPG'].to_list()
df1['Petrol'] = new_cst['Petrol'].to_list()

In [66]:
df1.shape

(7906, 22)

In [71]:
df1 = df1.drop("Transmission",axis=1)

In [69]:
df1.shape

(7906, 22)

In [72]:
df1

,Sales_ID,Name,Year,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Owner,...,Engine,Max_Power,Seats,Selling_Price,Automatic,Manual,CNG,Diesel,LPG,Petrol
0,1,Maruti Swift Dzire VDI,2014,145500,CT01,ST15,400001,Diesel,Individual,First Owner,...,1248 CC,74 bhp,5,450000,0,1,0,1,0,0
1,2,Skoda Rapid 1.5 TDI Ambition,2014,120000,CT28,ST11,834001,Diesel,Individual,Second Owner,...,1498 CC,103.52 bhp,5,370000,0,1,0,1,0,0
2,3,Honda City 2017-2020 EXi,2006,140000,CT12,ST28,201301,Petrol,Individual,Third Owner,...,1497 CC,78 bhp,5,158000,0,1,0,0,0,1
3,4,Hyundai i20 Sportz Diesel,2010,127000,CT21,ST27,248001,Diesel,Individual,First Owner,...,1396 CC,90 bhp,5,225000,0,1,0,1,0,0
4,5,Maruti Swift VXI BSIII,2007,120000,CT03,ST24,600020,Petrol,Individual,First Owner,...,1298 CC,88.2 bhp,5,130000,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,110000,CT22,ST14,452010,Petrol,Individual,First Owner,...,1197 CC,82.85 bhp,5,320000,0,1,0,0,0,1
7902,8125,Hyundai Verna CRDi SX,2007,119000,CT21,ST27,248001,Diesel,Individual,Fourth & Above Owner,...,1493 CC,110 bhp,5,135000,0,1,0,1,0,0
7903,8126,Maruti Swift Dzire ZDi,2009,120000,CT08,ST29,700005,Diesel,Individual,First Owner,...,1248 CC,73.9 bhp,5,382000,0,1,0,1,0,0
7904,8127,Tata Indigo CR4,2013,25000,CT29,ST24,632001,Diesel,Individual,First Owner,...,1396 CC,70 bhp,5,290000,0,1,0,1,0,0
7905,8128,Tata Indigo CR4,2013,25000,CT21,ST27,248001,Diesel,Individual,First Owner,...,1396 CC,70 bhp,5,290000,0,1,0,1,0,0

In [73]:
df1 = df1.drop("Fuel",axis=1)

In [74]:
df1

,Sales_ID,Name,Year,km_Driven,City_Code,State_Code,Postal_Code,Seller_Type,Owner,Mileage,Engine,Max_Power,Seats,Selling_Price,Automatic,Manual,CNG,Diesel,LPG,Petrol
0,1,Maruti Swift Dzire VDI,2014,145500,CT01,ST15,400001,Individual,First Owner,23.4 kmpl,1248 CC,74 bhp,5,450000,0,1,0,1,0,0
1,2,Skoda Rapid 1.5 TDI Ambition,2014,120000,CT28,ST11,834001,Individual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5,370000,0,1,0,1,0,0
2,3,Honda City 2017-2020 EXi,2006,140000,CT12,ST28,201301,Individual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5,158000,0,1,0,0,0,1
3,4,Hyundai i20 Sportz Diesel,2010,127000,CT21,ST27,248001,Individual,First Owner,23.0 kmpl,1396 CC,90 bhp,5,225000,0,1,0,1,0,0
4,5,Maruti Swift VXI BSIII,2007,120000,CT03,ST24,600020,Individual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5,130000,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,110000,CT22,ST14,452010,Individual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5,320000,0,1,0,0,0,1
7902,8125,Hyundai Verna CRDi SX,2007,119000,CT21,ST27,248001,Individual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5,135000,0,1,0,1,0,0
7903,8126,Maruti Swift Dzire ZDi,2009,120000,CT08,ST29,700005,Individual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5,382000,0,1,0,1,0,0
7904,8127,Tata Indigo CR4,2013,25000,CT29,ST24,632001,Individual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000,0,1,0,1,0,0
7905,8128,Tata Indigo CR4,2013,25000,CT21,ST27,248001,Individual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,290000,0,1,0,1,0,0

In [75]:
new_cst = pd.get_dummies(df1["Seller_Type"])

In [76]:
new_cst

      Dealer  Individual  Trustmark Dealer
0          0           1                 0
1          0           1                 0
2          0           1                 0
3          0           1                 0
4          0           1                 0
...      ...         ...               ...
7901       0           1                 0
7902       0           1                 0
7903       0           1                 0
7904       0           1                 0
7905       0           1                 0

[7906 rows x 3 columns]

In [77]:
df1['Dealer'] = new_cst['Dealer'].to_list()
df1['Individual'] = new_cst['Individual'].to_list()
df1['Trustmark_Dealer'] = new_cst['Trustmark Dealer'].to_list()

In [79]:
df1 = df1.drop('Seller_Type',axis=1)

In [80]:
df1

,Sales_ID,Name,Year,km_Driven,City_Code,State_Code,Postal_Code,Owner,Mileage,Engine,...,Selling_Price,Automatic,Manual,CNG,Diesel,LPG,Petrol,Dealer,Individual,Trustmark_Dealer
0,1,Maruti Swift Dzire VDI,2014,145500,CT01,ST15,400001,First Owner,23.4 kmpl,1248 CC,...,450000,0,1,0,1,0,0,0,1,0
1,2,Skoda Rapid 1.5 TDI Ambition,2014,120000,CT28,ST11,834001,Second Owner,21.14 kmpl,1498 CC,...,370000,0,1,0,1,0,0,0,1,0
2,3,Honda City 2017-2020 EXi,2006,140000,CT12,ST28,201301,Third Owner,17.7 kmpl,1497 CC,...,158000,0,1,0,0,0,1,0,1,0
3,4,Hyundai i20 Sportz Diesel,2010,127000,CT21,ST27,248001,First Owner,23.0 kmpl,1396 CC,...,225000,0,1,0,1,0,0,0,1,0
4,5,Maruti Swift VXI BSIII,2007,120000,CT03,ST24,600020,First Owner,16.1 kmpl,1298 CC,...,130000,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,110000,CT22,ST14,452010,First Owner,18.5 kmpl,1197 CC,...,320000,0,1,0,0,0,1,0,1,0
7902,8125,Hyundai Verna CRDi SX,2007,119000,CT21,ST27,248001,Fourth & Above Owner,16.8 kmpl,1493 CC,...,135000,0,1,0,1,0,0,0,1,0
7903,8126,Maruti Swift Dzire ZDi,2009,120000,CT08,ST29,700005,First Owner,19.3 kmpl,1248 CC,...,382000,0,1,0,1,0,0,0,1,0
7904,8127,Tata Indigo CR4,2013,25000,CT29,ST24,632001,First Owner,23.57 kmpl,1396 CC,...,290000,0,1,0,1,0,0,0,1,0
7905,8128,Tata Indigo CR4,2013,25000,CT21,ST27,248001,First Owner,23.57 kmpl,1396 CC,...,290000,0,1,0,1,0,0,0,1,0